SHELL=/bin/bash
BASH_ENV=/home/dotcloud/.bashrc
PATH=/usr/local/rvm/gems/ruby-1.9.2-p320@dotcloud/bin:/usr/local/rvm/gems/ruby-1.9.2-p320@global/bin:/usr/local/rvm/rubies/ruby-1.9.2-p320/bin:/usr/local/rvm/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/lib/jvm/java-6-sun/bin
GEM_HOME=/usr/local/rvm/gems/ruby-1.9.2-p320@dotcloud
GEM_PATH=/usr/local/rvm/gems/ruby-1.9.2-p320@dotcloud:/usr/local/rvm/gems/ruby-1.9.2-p320@global

20 * * * * $HOME/current/script/rails runner -e production "Pm25Importer.perform"
